@media( max-width:768px) {

    .medios{
        display:flex;
        flex-direction:column;
    }
    
}

@media (max-width:992px){

    .columna-armas{
      display:flex;
      justify-content: center;
    }
  }